:root {
	/* Floor */
	--floor-wall-color-1: #5a5acc;
	--floor-wall-color-2: #5a5acc;

	--floor-wall-indicator-color: #3ecf8e;
	--floor-wall-indicator-shadow: #32ad76;

	--floor-shadow-color: rgba(0, 0, 0, 0.2);
	--floor-ground-color: #4c4cad;

	/* Elevator */
	--elevator-border-top: #3ecf8e;
	--elevator-border-side: #32ad76;
	--elevator-border-background: #444;

	--elevator-floor-color: #3ecf8e;
	--elevator-floor-indicator-background: #171717;
	--elevator-door-color: #289263;
	--elevator-door-border: #1d6947;

	--elevator-panel-color: #32ad76;
	--elevator-panel-button: #76766b;

	--elevator-inside-border-bottom: #1d6947;
	--elevator-inside-border-side: #227c54;
	--elevator-inside-border-top: #2b9b68;
	--elevator-inside-background: #22724e;

	--elevator-inside-handrails-color: #A19494;
	--elevator-inside-handrails-side: #ACACAC;

	--elevator-inside-panel-background: #b6b6b6;
	--elevator-inside-panel-buttons: #556673;
}

* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}