:root {
	/* Candy Machine */
	--candy-machine-border: #9f9f9f;
	--candy-machine-close-button-background: #5a5acc;
	--candy-machine-close-button-background-hover: #4c4cad;
	--candy-machine-close-button-color: #fff;

	/* Floor */
	--floor-wall-color-1: #5a5acc;
	--floor-wall-color-2: #5a5acc;

	--floor-wall-indicator-color: #3ecf8e;
	--floor-wall-indicator-shadow: #32ad76;

	--floor-shadow-color: rgba(0, 0, 0, 0.2);
	--floor-ground-color: #4c4cad;

	/* Elevator */
	--elevator-border-top: #3ecf8e;
	--elevator-border-side: #32ad76;
	--elevator-border-background: #444;

	--elevator-floor-color: #3ecf8e;
	--elevator-floor-indicator-background: #171717;
	--elevator-door-color: #289263;
	--elevator-door-border: #1d6947;

	--elevator-panel-color: #32ad76;
	--elevator-panel-button: #76766b;

	--elevator-inside-border-bottom: #1d6947;
	--elevator-inside-border-side: #227c54;
	--elevator-inside-border-top: #2b9b68;
	--elevator-inside-background: #22724e;

	--elevator-inside-handrails-color: #A19494;
	--elevator-inside-handrails-side: #ACACAC;

	--elevator-inside-panel-background: #b6b6b6;
	--elevator-inside-panel-buttons: #556673;

	/* Panel */
	--elevator-panel-background: #b6b6b6;
	--elevator-panel-border-color: #556673;
	--elevator-panel-number-ground-border: #46495a;
	--elevator-panel-number-ground-background: #6c7085;
	--elevator-panel-number-color: #f3f3f3;
	--elevator-panel-number-border:#556673;
	--elevator-panel-number-hover: rgba(0,0,0,0.5);
}

* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}